* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: pink;
}
.container {
    display: flex;
    gap: 20px;
}
.user-board,
.enemy-board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}
.user-board > *,
.enemy-board > * {
    border: 1px solid aqua;
    text-align: center;
}

.user-board {
    z-index: 0;
}
.user-board > div,
.enemy-board > div {
    position: relative;
}
.user-board > div > h3,
.enemy-board > div > h3 {
    z-index: 1000;
}
.user-board > div > div {
    position: absolute;
    z-index: 1;
    top: 0;
    margin: -2.5px;
    border: 2px solid #00f;
    background: rgba(0, 0, 255, 0.03);
}

.x::before,
.x::after {
    content: '';
    position: absolute;

    z-index: 1000;
    top: 7px;
    left: 15px;
    width: 5px;
    height: 25px;
    background-color: #991b1b;
}
.x::before {
    transform: rotate(45deg);
}

.x::after {
    transform: rotate(-45deg);
}

.empty-attack::before {
    content: '';
    position: absolute;
    top: 35%;
    left: 35%;
    width: 12px;
    height: 12px;
    background-color: #1f2937;
    border-radius: 8px;
}
